#game {background-color: #192025  ;}
#home {background-color: #18384d  ;}

.center {display: flex;
         justify-content: center;
         align-items: center;
        }

.login{display: flex;
        justify-content: center;
        align-items: center;
        background-color:   #D68B3F;
         
        color:#192025;
        font-family: Arial, sans-serif;
        border-radius: 15px;
        
        text-align: center;
        width: 200px;
        height: 150px;
        padding: 20px;
        background-origin: border-box;
        outline: 5px solid #192025;
        }
.login form, .login div {background-color:   #D68B3F
             }

.light {font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px;
    text-align: center;
    color: #192025;
    background-color: #F0BA77;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.3%;
    margin-top: 25px }

.dark {font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px;
    text-align: center;
    color: #192025;
    background-color: #D68B3F;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.3%;
    margin-top: 40px;
        margin-left: -7% }

.about {text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #192025;
        background-color: #F0BA77 ;
        padding-bottom: 0.4%;
        padding-top: 0.4%;
        padding-left: 0%;
        padding-right: 0%;
        width: 80%;
}



.wordle input[type = "text"] {
           
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            border: 2px solid #192025;
            border-radius: 5px;
            background-color: #D7D6A5;
            color: #192025;
            }

.wordle input[type = "submit"] {
            background-color: #2B5875;
            color: #F0BA77;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            padding: 8px 16px;
            cursor: pointer;
            top: 100px;
            right: 250px;
            margin-left: 8px;
            }

.replay {margin-left: 140%;
        margin-top: -90%}

h3 {color: #192025;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #F0BA77;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.3%;
    margin-top: 10px;
    margin-left: -8%}



